.common-button, .pop-box button {
  background-color: #ff6208;
}

.more .footer a {
  border-color: #ff6208;
  background-color: #ff6208;
}

.alipay-certification .code a, .phone-verify ul li a.send, .phone-verify a.button, .repayment-detail.wrap .button a {
  background-color: #ff6208;
}

.pay-result a.button {
  border-color: #ff6208;
  color: #ff6208;
}

.forget-password .tab li.action, .forget-password .piece button {
  background-color: #ff6208;
}

.forget-password .tab li, .forget-password .piece .head i, .forget-password .piece .content a {
  color: #ff6208;
}

.forget-password .tab li, .forget-password .tab li:last-child {
  border-color: #ff6208;
}

.wx-login button {
  background-color: #ff6208;
}

.wx-login input {
  border-color: #ff6208;
}

.repayment-detail.wrap .content ul>li.do:first-child {
  background-image: url(../img/icon_02_01.png);
}

.repayment-detail.wrap .content ul>li.do:first-child:after {
  background-color: #ff6208;
}

.repayment-description ul li.active, .repayment-description h3 a, .extension p a {
  color: #ff6208
}