<ion-pane class="my">
    <ion-content class="has-banner has-footer">
        <ion-refresher pulling-text="{{pullingTips}}" spinner="ios" on-pulling="doPulling()" on-refresh="doRefresh()">
        </ion-refresher>
        <ion-list class="list-link">
            <a class="item item-link" ng-repeat='item in items' ng-click="goDetail(item.loan_id)" >
                <div class='item-inner'>
                    <h2 ng-bind='item.title'></h2>
                    <p ng-bind='item.time'></p>
                </div>
                <span class='item-note' ng-bind-html='item.text'></span>
            </a>
        </ion-list>
        <no-result ng-show='items === false'></no-result>
    </ion-content>
</ion-pane>