<div class="my paypassword">
    <ion-content class="has-banner has-footer">
        <h1 class="title" ng-bind='data.phone'></h1>
        <form name='paypassword'>
            <div class="list list-inset" ng-if='data.verify'>
                <label class='item item-input'>
                    <input type='password' placeholder="请输入原密码" ng-model='form.old_pwd' ng-change='checkout(form)'>
                </label>
            </div>
            <div class="list list-inset">
                <label class='item item-input'>
                    <input type='password' placeholder="请输入新密码" ng-model='form.new_pwd' ng-change='checkout(form)'>
                </label>
            </div>
            <div class="list list-inset">
                <label class='item item-input'>
                    <input type='password' placeholder="请输入确认密码" ng-model='form.confirm_pwd' ng-change='checkout(form)'>
                </label>
            </div>
            <div class='message-info'>交易密码为6位数字</div>
            <!-- activated -->
            <button class="button button-block button-primary" 
            ng-class='{activated: !active}' ng-disabled='!active' ng-click='save(form)'>完成</button>
        </form>
    </ion-content>
</div>