<div class="my paypassword">
    <ion-content class="has-banner has-footer">
        <p class='message'></p>
        <form name='paypassword'>
            <div class="list list-inset">
                <label class='item item-input'>
                    <input type='password' placeholder="请输入新密码" ng-model='form.new_pwd' ng-change='checkout(form)'>
                </label>
            </div>
            <div class="list list-inset">
                <label class='item item-input'>
                    <input type='password' placeholder="请输入确认密码" ng-model='form.confirm_pwd' ng-change='checkout(form)'>
                </label>
            </div>
            <div class='message-info'>交易密码由6位数字组成</div>
            <!-- activated -->
            <button class="button button-block button-primary"
            ng-class='{activated: !active}' ng-disabled='!active' ng-click='save(form)'>完成</button>
        </form>
    </ion-content>
</div>