extends ../common/layout
block prepend head
    - let title = '关于我们 - 公司介绍 - 浅橙科技';
    - let keywords = '';
    - let description = '';
block prepend header
    - let active = 3;
block append wrapper
    +breadcrumb({name: `公司介绍`, link: `/about/company.html`})
    .container.clearfix
        include sidebar
        +sidebar(1)
        .panel.panel-company.float-right
            h4 公司简介
            p 上海浅橙网络科技有限公司，成立于2015年8月，是中国领先的创新型金融科技公司，专注于使用人工智能、机器学习等技术手段，变革金融服务模式，通过大数据手段服务传统金融机构无法覆盖的人群，逐步完善中国金融服务生态体系，推动普惠金融建设。
            p 浅橙科技核心团队来自于腾讯和顶尖银行，已经有3年多成功运营互联网金融项目的经验，拥有一支200多人的团队，其中研发工程人员超过70%，在产品规划研发、软件开发实施、平台技术服务、系统维护等方面，兼具强劲实力和竞争优势。
            p 浅橙科技的核心产品“现金卡”， 现金卡做为浅橙科技旗下互联网小额信贷信息服务平台，通过APP、微信公众号及第三方接口，提供消费信贷撮合及消费场景下的信贷信息服务，每年处理千万级用户信用及信用消费申请；平台上已沉淀上千万互联网用户关系网络图谱，用户数超过千万。完成了包括报喜鸟、51信用卡、天图资本、和盟创投等投资方的多轮融资。
            h4 我们的使命
            p 浅橙科技将秉承以“科技驱动信用生态”为企业使命，通过互联网技术手段深耕蓝领服务生态。深入关注客户的需求和发展，致力于用大数据逐步完善中国信用金融服务的生态体系，坚持科技创新，搭建开放有效的科技型金融服务产业链。
            p
                span(style='color: red;') 郑重声明：
                | 我们不向学生提供贷款