extends ../common/layout
block prepend head
    - let title = '关于我们 - 加入我们 - 浅橙科技';
    - let keywords = '';
    - let description = '';
block prepend header
    - let active = 3;
block append wrapper
    +breadcrumb({name: `加入我们`, link: `/about/join.html`})
    .container.clearfix
        include sidebar
        +sidebar(5)
        .panel.panel-join.float-right
            .content
                .subject.text-primary 浅橙·现金卡团队期待你的加入
                .description
                    p 我们是一支年轻、充满活力的团队，汇集了腾讯和陆金所等顶尖金融系的互联网精英！
                    p 这里是极客与大牛的集中营，你将获得一个尽情绽放的舞台！
                    p 如果你觉得，世界那么大，想换个工作环境，那么，加入我们吧！
            ul
                li.active
                    .title 风控主管
                    .details
                        .props
                            span 工作性质：全职
                            span 工作地点：上海
                            span 发布时间：2016-12-26
                        h6 岗位职责：
                        p 1、负责建立借款、分期业务风险管理体系，推进内外部风险的全面防范与控制； 
                        p 2、完善借款、分期业务风险管理的目标、制度及流程，开展风险管理工作；
                        p 3、负责按照尽责审查工作制度，及时开展授信人群的尽责审查工作，深入分析授信人群风险，及时提交尽责审查报告；
                        p 4、负责审核业务部门提交的人员资料及融资调查报告的完整性和充分性；
                        p 5、负责审查公司业务是否符合国家法律、政策以及我公司金融政策；揭示项目风险，提出合理的避险措施建议；
                        p 6、根据尽责审查要求，提前介入重点项目的评估，进行现场审查。
                        h6 任职资格：
                        p 1、金融、经济、法律、财会等相关专业、财经类重点院校本科以上学历优先；
                        p 2、在银行、金融、担保等审计/风险类别公司从事Policy工作3年以上经验者优先；
                        p 3、在互联网小额信贷类公司从事策略制定工作3年以上经验者优先；
                        p 4、具备财经和法律知识基础；
                        p 5、擅长财务分析、数据分析、风险分析及流程管理，头脑清晰、思维敏捷，表达力强，抗压能力强。
                li
                    .title 机器学习专家
                    .details
                        .props
                            span 工作性质：全职
                            span 工作地点：上海
                            span 发布时间：2016-12-26
                        h6 岗位职责：
                        p 1、结合信贷业务场景，搭建机器学习框架，智能调整风控规则；
                        p 2、对用户数据深度挖掘，建立用户画像，为业务深化提供支撑；
                        p 3、跟踪及研究机器学习前沿技术，以及新技术在行业领域中的应用。
                        h6 任职资格：
                        p 1、计算机科学、数学、金融等相关专业硕士及以上学历；
                        p 2、在数据挖掘、机器学习领域有5年以上研究经验；
                        p 3、拥有大数据技术与实际业务场景结合的成功经验；
                        p 4、对数据敏感，善于发现数据中的价值；
                        p 5、善于分析和解决问题，富有想象力和学习能力，良好的团队合作精神；
                        p 6、在国内机器学习领域有一定影响力者优先；
                li
                    .title PHP高级开发工程师
                    .details
                        .props
                            span 工作性质：全职
                            span 工作地点：上海
                            span 发布时间：2016-12-23
                        h6 岗位职责：
                        p 1. 负责现金卡APP及网站后台服务的设计和研发；
                        p 2. 负责相关后台系统的监控和分析；
                        p 3. 持续优化系统架构，保障系统稳定可靠运行。
                        h6 任职资格：
                        p 1. 计算机或相关专业本科或以上学历； 
                        p 2. 两年以上PHP开发经验，熟练使用至少一种MVC的PHP框架，能够独立编写中等规模Web应用程序； 
                        p 3. 对HTTP协议和W3C规范有较好的理解，掌握Web Service的开发与应用，对 XHTML、CSS、JavaScript等页面技术有一定了解； 
                        p 4. 熟练掌握MySQL数据库应用开发，熟悉MySQL的数据库配置管理、性能优化等操作技能； 
                        p 5. 对互联网产品的性能、高可用、安全性等相关知识有实践经验； 
                        p 6. 责任心强，良好的沟通和团队协作能力，主动好学有进取心。
                li
                    .title 产品经理
                    .details
                        .props
                            span 工作性质：全职
                            span 工作地点：上海
                            span 发布时间：2016-11-18
                        h6 岗位职责：
                        p 1、根据公司的发展战略与规划，负责产品的需求梳理、产品策划、产品流程设计，撰写相关的需求文档；
                        p 2、根据业务需求和用户研究的结果完成界面的信息架构设计、流程设计和原型设计；
                        p 3、线上产品运营数据进行监控与分析，进行产品功能优化，提升产品的用户体验；
                        p 4、协助设计、开发、测试团队理解和掌握产品需求，对产品方向和易用性负责；
                        p 5、跨部门协调和沟通，推动UI、开发、测试、运营等人员紧密合作达成产品目标，保证产品实施阶段的进度与质量。
                        h6 任职资格：
                        p 1、本科及以上学历，1年以上互联网产品经验；
                        p 2、热爱互联网，熟悉并经常使用相关各类产品，对用户行为与心理有深刻洞察；
                        p 3、熟练掌握产品需求分析、设计的技巧，对交互设计过程有深入的了解，有成功的产品策划案例者优先；
                        p 4、逻辑能力强，擅长数据分析与需求调研，文档编写能力强，擅长文案撰写为佳；
                        p 5、具备较强的逻辑思维能力、学习创新能力、数据分析能力和语言表达能力；
                        p 6、熟悉互联网证券业务的发展现状及趋势者优先。

                li
                    .title 运营专员
                    .details
                        .props
                            span 工作性质：全职
                            span 工作地点：上海
                            span 发布时间：2016-11-18
                        h6 岗位职责：
                        p 1、负责现金卡产品的运营，负责活动策划及文案撰写；
                        p 2、负责用户的拉新、留存、促活和转化，以及运营数据的分析和总结；
                        p 3、能够根据分析结果给出策略和建议，并不断进行优化；
                        p 4、对于渠道、APP推广能够主动学习，及时和相关部门进行沟通和反馈。
                        h6 任职资格：
                        p 1、本科及以上学历，1年以上工作经验；
                        p 2、熟悉互联网产品的运营策略和营销推广，具备良好的数据收集和分析能力；
                        p 3、具有较强的语言组织能力和文案编写能力，对产品运营有自己的独到见解和想法；
                        p 4、乐于接受新鲜事物，思维活跃，学习能力强；
                        p 5、具有良好的沟通能力和团队合作精神，责任心强，富有想象力和激情。