doctype html
html
    head
        meta(charset='utf-8')
        title 双赔活动
        meta(name='author', content='me@dominicleo.me')
        meta(name='renderer', content='webkit')
        meta(http-equiv='X-UA-Compatible', content='IE=Edge, chrome=1')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1,user-scalable=no, minimal-ui')
        meta(name='format-detection', content='telephone=no, email=no, address=no')
        meta(http-equiv='Pragma', content='no-cache')
        meta(http-equiv='Cache-Control', content='no-cache')
        meta(name='apple-mobile-web-app-capable', content='yes')
        meta(name='screen-orientation', content='portrait')
        meta(name='x5-orientation', content='portrait')
        meta(name='full-screen', content='yes')
        meta(name='x5-fullscreen', content='true')
    body(ontouchstart)
        #app
        script.
            var _hmt = _hmt || [];
            (function() {
                var hm = document.createElement("script");
                hm.src = "https://hm.baidu.com/hm.js?3ac5a6a835b4ee96a11d699ee4f6b39a";
                var s = document.getElementsByTagName("script")[0]; 
                s.parentNode.insertBefore(hm, s);
            })();