<div class= "reset-password" >
  <form name="resetForm" autocomplete="on">
    <p><input ng-model="form.code" type="text" value="" placeholder="请输入验证码" required/><button ng-disabled="sendDisabled" ng-click="sendCode()">{{codeText}}</button></p>
    <ionic-picker label='所属公司'
                  class="company-pick item-input item-link"
                  ng-show="isRegister"
                  picker-data='companyList'
                  view-value-property="company_name"
                  ng-model='form.company' required='true'> </ionic-picker>
    <input ng-model="form.password" type="password" value="" placeholder="请设置新的6-16位登录密码" ng-minlength="6" ng-maxlength="16" required/>
    <button ng-disabled="resetForm.$invalid || !isAgress" ng-click="reset(form)" class="button button-block button-credit">确定</button>
  </form>
  <p ng-click="onAgree()" ng-class="isAgress ? '' : 'not-agress'">我已阅读并同意<a href="" ng-click="onHref($event)">《支薪宝注册协议》</a></p>
</div>

<div class="popup" ng-show="codeImg">
  <div class="overlay"></div>
  <div class="verify-dialog">
    <form name="verifyForm" id="verifyForm">
      <h3>图形验证码</h3>
      <p class="clearfix"><input ng-model="verify.captcha" type="text" value="" required/>
      <img ng-click="refresh()" ng-src={{codeImg}}></p>
      <p ng-show="codeError" class="info">提示：图形验证码不正确，点击图片可以刷新图形验证码</p>
      <button ng-disabled="verifyForm.$invalid" ng-click="verifyCode(verify)" class="button button-block button-credit">获取短信验证码</button>
    </form>
  </div>
</div>
