<kd-pane>
  <div class="invite-home">
    <div class="wink-chick"></div>
    <div class="gift-chick"><div class="chick"></div><div class="gift"></div></div>
    <div class="scream-chick"><div class="chick"></div><div class="scream"></div></div>
    <div class="stomp-chick"><div class="chick"></div><div class="wow"></div><div class="gas-one"></div><div class="gas-two"></div></div>
    <div class="mask"></div>
    <section class="my-invite">
      <h3>我的邀请</h3>
      <p>活动期间已有<span>{{homeData.count}}</span>位好友放款成功</p>
      <a ng-click="lookAward()">查看奖励</a>
    </section>
    <section class="invite-award">
      <h3>邀请人奖励</h3>
      <p>邀请的好友放款成功后，邀请人可获得</p>
      <div class="specific">
        <i>¥</i><span class="amount">28</span><span class="award">28元</span><span class="friends">首位好友</span>
      </div>
      <div class="specific">
        <i>¥</i><span class="amount">20</span><span class="award">20元/人</span><span class="friends">2-10位好友</span>
      </div>
      <div class="specific">
        <i>¥</i><span class="amount">30</span><span class="award">30元/人</span><span class="friends">11-100位好友</span>
      </div>
      <div class="specific">
        <i>¥</i><span class="amount">50</span><span class="award">50元/人</span><span class="friends">100位以上</span>
      </div>
      <h4>举个栗子</h4>
      <p class="p-award">
        小基邀请好友注册现金卡，有300位好友成功放款，那么小基可获得：<br>
        <strong>28+20×9+30×90+50×200=12908元</strong><br>
        月入万元不是梦！
      </p>
    </section>
    <section class="friend-benefits">
      <h3>好友福利</h3>
      <p>建立邀请关系后，好友即获<strong>10元抵扣券</strong></p>
      <img src="img/invite-icon-02.jpg" alt=""/>
      <p class="note"><span>邀请人</span><span>好友</span></p>
      <p class="p2">邀请人发出邀请，好友通过邀请人的专属链接或邀请码注册即为建立邀请关系</p>
    </section>
    <h5>本活动最终解释权归现金卡所有，与苹果公司无关</h5>
  </div>
</kd-pane>
<div class="footer">
  <a class="rule" ng-click="showRule()"><span>查看<br>规则</span></a><a id="invite" class="invite"><span>马上邀请</span></a>
</div>

<div class="popup popup-login" style="display: none;">
  <div class="overlay" ng-click="closePop()"></div>
  <div class="dialog">
    <div class="close-div" ng-click="closePop()"><span class="close"></span></div> 
    <p class="message">登录之后才可以邀请好友哦！</p>
    <a ng-click="login()">立即登录</a>   
  </div>
</div>

<div class="popup popup-lookAward" style="display: none;">
  <div class="overlay" ng-click="closePop()"></div>
  <div class="dialog">
    <div class="close-div" ng-click="closePop()"><span class="close"></span></div> 
    <p class="message">登录之后才可以查看奖励哦！</p>
    <a ng-click="login()">立即登录</a>   
  </div>
</div>

<div class="popup popup-error" style="display: none;">
  <div class="overlay" ng-click="closePop()"></div>
  <div class="dialog">
    <div class="close-div" ng-click="closePop()"><span class="close"></span></div> 
    <p class="message">{{errorMessage}}</p>
    <a ng-click="closePop()">朕知道了</a> 
  </div>
</div>


<div class="popup-rule" style="display: none;">
  <div class="rule-content">
    <div class="close-div" ng-click="closeRule()"><span class="close"></span></div>
    <h3>活动规则：</h3>
    <p><span>1.活动时间：</span>2017年1月6日0:00-2017年2月6日23:59</p>
    <p><span>2.活动对象：</span>所有现金卡注册用户</p>
    <p>3.邀请人在活动期间建立邀请关系，被邀请人需30天内成功借款，方可获得邀请奖励</p>
    <p><span>4.邀请人奖励：</span><br>邀请奖励只针对1月6日-2月6日建立邀请关系的用户，从0计数，累计获得奖励，奖励上不封顶。（获奖用户可至活动页面—右上角【查看奖励】中查看）</p>
    <p><span>5.被邀请人福利：</span><br>被邀请人注册可获一张10元还款券，有效期20天。（福利请至现金卡APP【我的】-【我的优惠】中查看使用）</p>
    <p>6.活动期间，邀请人每周可提现一次，若邀请人借款逾期超过30天，取消邀请资格与奖励</p>
    <p>7.本活动最终解释权归现金卡所有</p>
  </div>
</div>
