<ion-pane >
  <ion-content class=" agreement">
    <!--<h1>借款协议</h1>-->
    <h1 class="title">借款协议</h1>
    <h3 class="right">编号：xxx</h3>
    <p class="normal">甲方（资金出借方）：“丁方”用户</p>
    <p class="normal">乙方（资金借入方）：xxx<br>身份证号码：xxx</p>
    <p class="normal">丙方（居间服务方）：上海侬米网络科技有限公司</p>
    <p class="normal">丁方（居间服务方）：xxx</p>
    <h2>鉴于：</h2>
    <p>1.甲方为具备完全民事行为能力的中华人民共和国大陆地区居民，系“   xxx  ”平台注册用户，具有出借资金并获取一定收益的投资需求。</p>
    <p>2.乙方为具备完全民事行为能力的中华人民共和国大陆地区居民，系“上海侬米网络科技有限公司”平台注册用户，具有借款需求。</p>
    <p>3. 丙方系互联网金融信息服务平台“现金白卡”运营方,能够通过其平台为甲、乙双方间建立借贷关系提供信息中介服务。</p>
    <p>4. 丁方系互联网金融信息服务平台“  xxx  ”运营方，能够通过其平台为甲、乙双方间建立借贷关系提供信息中介服务。</p>
    <h2>一、借款信息</h2>
    <p>1.1 借款本金金额：乙方本次借款本金总金额为人民币  xxx   元。 其中甲方向其出借的本金金额为  xxx  元。</p>
    <p>1.2 借款利率：年化    xxx %。乙方应当支付甲方的借款利息包含于乙方应当支付丙方的费用中。乙方在此不可撤销地授权丙方自行或者转委托丁方代为向甲方支付乙方基于本协议应当支付向甲方支付的借款利息。</p>
    <p>1.3 利息计算公式：利息=借款本金*借款年化利率*借款期限/360。</p>
    <p>1.4 借款期限：自    xxx 起至   xxx 止，共计 xxx天。</p>
    <p>1.5 出借方式：甲方委托丁方合作的第三方支付机构或银行资金监管账户将出借款项代为支付给乙方或乙方指定的收款方。</p>
    <p>1.6 借款标的各项相关内容以附件《借款标的明细》中列明的内容为准乙方在此不可撤销的委托甲方，在发放出借款项时向合作服务方支付综合费用和前置利息，甲方可以从本金中扣除乙方应当支付给合作服务方的综合费用和前置利息，甲方向乙方实际支付的借款金额=借款本金金额-综合费用-前期利息金额，综合费用具体金额及明细以乙方与合作服务方签订的相关协议为准。</p>
    <h2>二、还款金额与方式</h2>
    <p>2.1 乙方还款采取先息后本的还款方式，应当于  xxx 前共计偿还甲方借款本息人民币   xxx 元。</p>
    <p>2.2 乙方委托丁方或丁方合作的第三方支付机构将其偿还的本息金额偿还至甲方或甲方指定的收款方。</p>
    <p>2.3 若乙方的还款金额不足时，清偿顺序为：若逾期两期以上，应首先清偿时间在前的借款债务，然后再清偿时间在后的借款债务；乙方偿还款项不足以支付全部款项，按照以下顺序偿还：实现债权的费用、逾期管理费用、居间服务费、利息、本金。</p>
    <h2>三、时间</h2>
    <p>3.1 借款起始时间：借款已实际发放并开始计算利息的日期。</p>
    <p>3.2 借款停止计息时间：借款期限结束的当天。即若借款起始时间为T，借款期限为N，则止息日为T+N。</p>
    <p>3.3 借款还款日期：同止息日。</p>
    <p>3.4 逾期起算时间：止息日次日，即止息日+1。</p>
    <h2>四、各方陈述与保证</h2>
    <p>4.1 甲方陈述与保证</p>
    <p>4.1.1 甲方保证本次出借资金的来源为合法合规的自有资金。</p>
    <p>4.1.2 甲方保证出借资金属于甲方有权支配的资金，且不存在妨碍乙方参与本次借款的情形。如果第三人对资金归属、合法性问题发生争议的，由甲方自行解决，如造成协议其他各方损失的，甲方应承担损害赔偿责任。</p>
    <p>4.1.3甲方承诺提供真实、准确、完整的身份等信息。</p>
    <p>4.1.4 甲方同意，乙方未能按照约定于还款日足额偿还借款本金和利息的，如丙、丁方或其指定的第三方在合理时间内代为偿还甲方被拖欠的本金和利息的，则甲方同意放弃逾期利息部分及其他额外费用；乙方其后所偿还款项归属有关代偿方。</p>
    <p>4.2 乙方的陈述与保证</p>
    <p>4.2.1 乙方保证并承诺借款真实、合法，并按照约定用途使用借贷资金，不会用于出借等其他目的，也不会将所借款项用于任何非法用途。</p>
    <p>4.2.2 乙方保证提供真实、准确、完整的个人信息及融资信息，其提供的其他资料也均为真实、完整、有效，并且乙方进一步保证其不会提供任何虚假信息或隐瞒重要事实。</p>
    <p>4.2.3 乙方承诺不会将本协议项下的债务以任何形式转让给任何其他方，如转让亦不对其他各方发生任何法律上的效力。</p>
    <p>4.2.4 乙方知悉，本合同项下的债权可以进行全部、部分或多次转让，且债权转让的次数不受限制。乙方签署本协议即视为对后续所有债权转让的同意和确认。</p>
    <h2>五、授权及声明</h2>
    <p>5.1 乙方在此不可撤销地授权丙、丁双方向依法设立的征信机构查询乙方的个人信息及个人信用记录。</p>
    <p>5.2 乙方在此不可撤销地授权丙、丁双方向依法设立的征信机构提供乙方接受丙、丁双方服务所对应的个人信息、借贷信息及后续还款记录等信息。</p>
    <p>5.3 乙方在此不可撤销地授权丙、丁双方向依法设立的征信机构提供乙方可能产生的不良信用信息。</p>
    <h2>六、违约责任</h2>
    <p>6.1 乙方承诺按时足额履行还款义务，如乙方逾期还款，将承担包含但不限于下列后果：</p>
    <p>6.1.1乙方的不良信用信息记录将被上传至经中国人民银行批准并依法设立的各类型征信数据机构。</p>
    <p>6.1.2乙方应当于还款逾期之日起按照同丙、丁方的约定承担违约金、逾期利息等费用，具体标准按照乙方同丙、丁方另行达成的约定执行。</p>
    <p>6.2 乙方未能按照本协议约定按时足额向甲方还本付息的，丙、丁方有权自行或者委托合作的第三方机构代甲方向乙方进行追索。</p>
    <p>6.3 丙、丁方代甲方通过法律途径（包含但不限于法院诉讼、仲裁等）向乙方进行追索的，乙方认可并接受丙、丁方作为诉讼及权利主体，并承担由此产生的全部法律后果。</p>
    <h2>七、电子合同及协议效力</h2>
    <p>7.1 本协议采用电子文本形式制成，自生成之日起成立，甲方将借款本金成功放款给乙方之日生效，各方均认可协议签署方式具有法律层面的强制约束力。</p>
    <p>7.2 甲、乙双方应当妥善保管自己的账号、密码等账户信息，不得以账户信息被盗用或其他理由否认已订立的协议的效力或不履行相关义务。</p>
    <p>7.3 本协议不论因何种原因在法律上全部或部分条款无效，只要甲方向乙方支付了借款，且乙方的合同义务尚未全部履行完毕，甲方即对乙方享有与本协议项下借款有关的债权，并可立即向乙方追讨本合同项下剩余借款本息、逾期利息、违约金、损害违约金及其他一切相关费用。</p>
    <h2>八、通知</h2>
    <p>8.1 本协议任何一方因履行本协议做出的通知和/或文件均应以书面形式做出，通过专人送达、挂号邮递、特快专递、短信及邮件等方式传送。</p>
    <p>8.2 通知在下列日期视为送达：</p>
    <p>8.2.1专人递送的通知，在专人递送之交付对方日为有效送达。</p>
    <p>8.2.2以挂号信（付清邮资）发出的通知，在寄出（以邮戳为凭）后的三个工作日内为有效送达。</p>
    <p>8.2.3以特快专递（付清邮资）发出的通知，在寄出（以邮戳为凭）后的三个工作日内为有效送达。</p>
    <p>8.2.4以短信方式（发出的通知，短信成功发出即为有效送达。</p>
    <p>8.2.5以邮件方式发出的通知，邮件发送成功时即为有效送达。</p>
    <p>8.3 本协议存续期间甲、乙双方本人姓名、身份证号码、手机号码、银行账户等信息如发生变更，应当在相关信息发生变更之日起三日内将更新后的信息提供给丙、丁方。因甲、乙双方未能及时提供上述变更信息而带来的损失或额外费用应由负有提供义务的一方自行承担。</p>
    <h2>九、适用法律及争议解决</h2>
    <p>9.1 本协议的签订、履行、终止、解释均适用中华人民共和国法律。</p>
    <p>9.2 因履行本协议所产生的争议各方应当通过友好协商解决；如协商不成，则本合同任意一方均可将争议提交至丙方住所地上海市杨浦区有管辖权的人民法院。</p>
    <p class="enclosure">附表 《借款标的明细》</p>
    <table>
      <tr>
        <th colspan="4">借款标的明细</th>
      </tr>
      <tr>
        <td>本金金额</td>
        <td colspan="3">人民币 xxx 元</td>
      </tr>
      <tr>
        <td>大写</td>
        <td colspan="3">人民币 xxx元</td>
      </tr>
      <tr>
        <td>借款用途</td>
        <td>个人消费</td>
        <td>年化利率</td>
        <td>xxx</span></td>
      </tr>
      <tr>
        <td>借款起息日</td>
        <td>xxx</td>
        <td>借款到期日</td>
        <td>xxx</td>
      </tr>
      <tr>
        <td>还款方式</td>
        <td colspan="3">先息后本</td>
      </tr>
      <tr>
        <td>还款期数</td>
        <td colspan="3">1期</td>
      </tr>
    </table>
    <p class="enclosure">附表 《还款计划》</p>
    <table>
      <tr>
        <th colspan="4">还款计划</th>
      </tr>
      <tr>
        <th>期数</th>
        <th>还款日</th>
        <th>本金</th>
        <th>利息</th>
      </tr>
      <tr>
        <td>1</td>
        <td>xxx</td>
        <td>xxx 元</td>
        <td>xxx元</td>
      </tr>
      <tr>
        <td>2</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>3</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>
    <p>（以下无正文）</p>
    <p>甲方（出借人）：xx</p>
    <p>乙方（借款人）：xxx</p>
    <p>身份证号码：xxx</p>
    <p class="right">xx</p>
  </ion-content>
</ion-pane>