.events{
    height: 100%;
    position: relative;
    overflow: hidden;
    &:after{
        width: 715px;
        height: 1237px;
        content: '';
        background: transparent url(../images/events/background.png) center no-repeat;
        opacity: 0;
        transition: opacity 1s ease-out;
        background-size: cover;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
        z-index: 0;
    }
    &.fp-completely{
        &:after{
            opacity: 1;
        }
        ul{
            > li{
                &:before,
                &:after{
                    opacity: 1;
                    transition: all .35s cubic-bezier(.645,.045,.355,1);
                }
                &:nth-child(1){
                    &:before{
                        transition-delay: 3.05s;
                    }
                    &:after{
                        height: 280px;
                        transition-delay: 2.85s;
                    }
                    .date{
                        transition-delay: 3.4s;
                    }
                    .content{
                        transition-delay: 3.7s;
                    }
                }
                &:nth-child(2){
                    &:before{
                        transition-delay: 2.1s;
                    }
                    &:after{
                        height: 275px;
                        transition-delay: 1.9s;
                    }
                    .date{
                        transition-delay: 2.25s;
                    }
                    .content{
                        transition-delay: 2.55s;
                    }
                }
                &:nth-child(3){
                    &:before{
                        transition-delay: 1.5s;
                    }
                    &:after{
                        height: 320px;
                        transition-delay: 1.2s;
                    }
                    .date{
                        transition-delay: 1.35s;
                    }
                    .content{
                        transition-delay: 1.65s;
                    }
                }
                &:nth-child(4){
                    &:before{
                        transition-delay: .5s;
                    }
                    .date{
                        transition-delay: .65s;
                    }
                    .content{
                        transition-delay: .95s;
                    }
                }
                .date,
                .content{
                    transition: all .5s cubic-bezier(.645,.045,.355,1);
                    opacity: 1 !important;
                    transform: none !important;
                }
            }
        }
        .arrow-handle{
            top: 1024px; 
            opacity: 1;
            transition: opacity 1s ease-in 3.5s;
        }
    }
    ul{
        list-style: none;
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 0;
        position: absolute;
        top: 150px;
        left: 50%;
        z-index: 10;
        transform: translateX(-50%);
        > li{
            position: relative;
            &:before{
                width: 21px;
                height: 21px;
                content: '';
                border: 7px solid #4bb6fa;
                border-radius: 100%;
                background-color: #fff;
                position: absolute;
                top: 9px;
                left: -40px;
                z-index: 10;
                opacity: 0;
            }
            &:after{
                width: 2px;
                content: '';
                background-color: #37b0e9;
                position: absolute;
                top: 10px;
                left: -30px;
                z-index: 9;
                transform-origin: top;
                opacity: 0;
            }
            &:nth-child(1){
                transform: translateX(180px);
                &:before{
                    top: 8px;
                    left: -40px;
                }
                &:after{
                    height: 0;
                    top: 280px;
                    left: -125px;
                    transform: rotate(-160deg);
                }
                
            }
            &:nth-child(2){
                transform: translateX(-180px);
                &:before{
                    right: 50px;
                    left: auto;
                }
                &:after{
                    height: 0;
                    top: 210px;
                    right: -142px;
                    left: auto;
                    transform: rotate(133deg);
                }
                .date{
                    width: 265px;
                    text-align: center;
                    transform: translateX(-75px);
                    display: block;
                }
                .content:after{
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
            &:nth-child(3){
                transform: translateX(290px);
                &:before{
                }
                &:after{
                    height: 0;
                    top: 215px;
                    left: -282px;
                    transform: rotate(232deg);
                }
            }
            &:nth-child(4){
                transform: translate3d(40px, 50px, 0);
                &:before{
                }
                &:after{
                    display: none;
                }
            }
        }
        .content{
            color: #0082d4;
            font-size: 24px;
            border: 5px solid #4bb6fa;
            border-radius: 10px;
            background-color: #eef8ff;
            margin-top: 30px;
            padding: 0 20px;
            position: relative;
            opacity: 0;
            transform: translateY(30px);
            display: inline-block;
            &:after{
                $size: 14px;
                content: '';
                border-left: $size solid transparent;
                border-right: $size solid transparent;
                border-bottom: $size solid #4bb6fa;
                position: absolute;
                top: -14px;
                left: 12px;
            }
            p,ol{
                margin-top: 20px;
                margin-bottom: 20px;
            }
            p{
                line-height: 32px;
                text-align: center;
            }
        }
        .date{
            color: #f5cd19;
            font-size: 36px;
            font-family: Arial;
            opacity: 0;
            transform: translateX(75px);
        }
        ol{
            list-style: none;
            padding-left: 30px;
            li{
                list-style-type: initial;
            }
            li + li{
                margin-top: 20px;
            }
        }
    }
}